<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/23472765_1843087849057311_736694468743797665_n.jpg?_nc_cat=103&_nc_ht=scontent-sof1-1.xx&oh=88e404d513562b56dce087bb07cf5ca1&oe=5C9FAE5D" alt="Profile image example" />
        <img align="left" class="fb-image-profile img-thumbnail" src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/23519038_1845094528856643_5907086588489992593_n.jpg?_nc_cat=103&_nc_ht=scontent-sof1-1.xx&oh=a5ef2e0d3c4b2ed56c74f6b6b141b8f0&oe=5CA7280F" alt="Profile image example" />

    </div>
</div>