@model ProfileViewModel

<div class="container" style="padding-right:135px">
    <partial name="_ProfilePartial" model="Model" />
    <div class="container" style="margin-top:30px; padding:0">
        <div class="card-deck justify-content-center" style="padding:0">
            <div class="col-auto mb-3" style="padding-left:0; padding-right:0;">
                <div class="card" style="width: 18rem; ">
                    <img class="card-img-top img-fluid" src="https://res.cloudinary.com/inkettimgs/image/upload/v1545352616/rc7oscdwtwzpg6aheec8.jpg" alt="Card image cap">
                    <div class="card-img-overlay">
                        <h4 class="card-title">3 Card title</h4>
                    </div>
                </div>
            </div>
            <div class="col-auto mb-3" style="padding-left:0; padding-right:0;">
                <div class="card" style="width: 18rem; ">
                    <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                    <div class="card-img-overlay">
                        <h4 class="card-title">3 Card title</h4>
                    </div>
                </div>
            </div>
            <div class="col-auto mb-3" style="padding-left:0; padding-right:0;">
                <div class="card" style="width: 18rem; ">
                    <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                    <div class="card-img-overlay">
                        <h4 class="card-title">3 Card title</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
