<div class="col-auto mb-3" style="padding-left:0; padding-right:0;">
    <div class="card" style="width: 18rem; ">
        <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
        <div class="card-img-overlay">
            <h4 class="card-title">3 Card title</h4>
        </div>
    </div>
</div>