<nav id="sidebar">
    <ul class="list-unstyled components">
        <li>
            <a asp-controller="Profile" asp-action="Index">Profile</a>
        </li>
        <li>
            <a asp-controller="Profile" asp-action="Edit">Edit Profile</a>
        </li>
    </ul>
</nav>